/* Light Mode
     Heading Color #2C3E50
     Subheading color #333333
     Maincolor #FF6347
     Bg #FAFAFA
  */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* .main-content {
  flex-grow: 1;
} */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 20px;
  background-color: #ffffff;
  color: #333333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logo {
  margin-left: 2rem;
}

.header-links li {
  padding: 5px 10px;
}

.header-links li a:not(.button1) {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
  border-bottom: 2px solid transparent;
}

.header-links li a:not(.button1):hover {
  border-bottom-color: #ff6347;
}

.nav-controls {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.theme-switch-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.theme-switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ff6347;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff6347;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.login-signup-links li {
  margin-left: 5px;
}

.logo {
  font-size: 5rem;
  color: #ff6347;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  transition: color 0.3s ease;
}

header {
  background-color: #f6f6f6;
  top: 0rem;
  position: sticky;
  z-index: 1000;
  height: auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  padding: 5px 10px;
}

.button1 {
  text-decoration: none;
  background-color: #fffaf0;
  color: #ff6347;
  border: 2px solid #ff6347;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  display: flex;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease,
    border-color 0.5s ease;
}

.button1:hover {
  background-color: #ff6347;
  color: #ffffff;
  transform: scale(1.1);
}

.button2 {
  background-color: #ff6347;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

.button2:hover {
  background-color: #e55337;
  transform: translateY(-3px);
}

footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 25px 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  flex-shrink: 0;
}

@keyframes lefttocenter {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rigthtocenter {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes uptocenter {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes bottomtocenter {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
